<!DOCTYPE html>
<html ng-app="mailer">

<head>
  <% include ../views/partials/header.ejs %>
</head>

<body ng-controller="mailerController">

  <% include ../views/partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">

        <h2>{{app}}</h2>
      </div>
    </div>
    <center style="visibility: hidden;">
      <div style="width: 700px;">
        <form name="messageForm">
          <div class="row">
            <div class="col-md-12">
              <!--ALERTS-->
              <span ng-show="messageForm.txtTo.$dirty && userForm.txtTo.$invalid">
              <div ng-messages="messageForm.txtTo.$error">
                <!-- FULLFILLING ALERT -->
                <div ng-message="required" class="alert alert-danger">
                  Por favor, preencha o campo 'Para'.
                </div>
                <div ng-messages="messageForm.txtTo.$error">
                <div ng-message="required" class="alert alert-danger">
                  Por favor, preencha o campo 'Para' com um email válido.
                </div>
                </div>
              </div>
              </span>
              <span ng-show="messageForm.txtSubject.$dirty && userForm.txtSubject.$invalid">
              <div ng-messages="messageForm.txtSubject.$error">
                <!-- FULLFILLING ALERT -->
                <div ng-message="required" class="alert alert-danger">
                  Por favor, preencha o campo 'Assunto'.
                </div>
              </div>
              </span>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6 inline">

                <input class="form-control" type="email" ng-model="message.to" name="txtTo" required placeholder="Destinatário" />
                <br/>
                <input class="form-control" type="text" ng-required="true" ng-model="message.subject" name="txtSubject" placeholder="Assunto"
                />
                <br/>
              </div>

              <div class="col-md-6">
                <input class="form-control" type="text" ng-model="message.msg" name="txtMsg" placeholder="Digite aqui sua mensagem" />
              </div>
            </div>
            <div class="col-md-12">
              <button class="btn btn-primary btn-block" ng-click="sendMessage()">OK</button>
            </div>

          </div>
        </form>
      </div>
    </center>


</body>

</html>